In [16]:
#!pip install pandas
#!pip install zipfile
#!pip install kaggle

#Import the pandas library
import pandas as pd

#Import zipfile library (to extract the file downloaded from kaggle)
import zipfile

In [52]:
#Extract the file from the downloaded zip file
zipfile_name = './LondonBikeRides/london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [53]:
#Read in the CSV file as a Pandas dataframe
lbr = pd.read_csv('london_merged.csv')

In [54]:
#Exploring the data
lbr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [55]:
lbr.shape

(17414, 10)

In [56]:
lbr

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [57]:
#Counting unique values in the weather_code column
lbr.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [58]:
#Counting unique values in the season column
lbr.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [59]:
#Specifying the column names we want to use throughout the analysis
new_cols_dict = {
    'timestamp': 'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

#Renaming the columns based on the new_cols_dict
lbr.rename(new_cols_dict, axis=1, inplace=True)

In [60]:
#Changing the humidity values to percentage (a value between 0 and 1)
lbr.humidity_percent = lbr.humidity_percent / 100

In [61]:
lbr

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,2.0,0.0,0.0,3.0

In [64]:
#Create season dictionary to map the integer 0-3 to the actual written values
season_dict = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}
#Changing the season column data type to string
lbr.season = lbr.season.astype(str)

#Map the values 0-3 to the actual written seasons
lbr.season = lbr.season.map(season_dict)

In [68]:
#Create weather dictionary to map the integers to the actual written values
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}

#Changing the weather column data type to string
lbr.weather = lbr.weather.astype(str)

#Map the values to the actual written weathers
lbr.weather = lbr.weather.map(weather_dict)

In [70]:
#Check the dataframe to see whether the map function works or not
lbr.head(20)

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter
5,2015-01-04 05:00:00,46,2.0,2.0,0.930,4.0,Clear,0.0,1.0,winter
6,2015-01-04 06:00:00,51,1.0,-1.0,1.000,7.0,Cloudy,0.0,1.0,winter
7,2015-01-04 07:00:00,75,1.0,-1.0,1.000,7.0,Cloudy,0.0,1.0,winter
8,2015-01-04 08:00:00,131,1.5,-1.0,0.965,8.0,Cloudy,0.0,1.0,winter
9,2015-01-04 09:00:00,301,2.0,-0.5,1.000,9.0,Broken clouds,0.0,1.0,winter
10,2015-01-04 10:00:00,528,3.0,-0.5,0.930,12.0,Broken clouds,0.0,1.0,winter
11,2015-01-04 11:00:00,727,2.0,-1.5,1.000,12.0,Broken clouds,0.0,1.0,winter
12,2015-01-04 12:00:00,862,2.0,-1.5,0.965,13.0,Cloudy,0.0,1.0,winter
13,2015-01-04 13:00:00,916,3.0,-0.5,0.870,15.0,Broken clouds,0.0,1.0,winter
14,2015-01-04 14:00:00,1039,2.5,0.0,0.900,8.0,Broken clouds,0.0,1.0,winter
15,2015-01-04 15:00:00,869,2.0,-1.5,0.930,11.0,Broken clouds,0.0,1.0,winter
16,2015-01-04 16:00:00,737,3.0,0.0,0.930,12.0,Broken clouds,0.0,1.0,winter
17,2015-01-04 17:00:00,594,3.0,0.0,0.930,11.0,Broken clouds,0.0,1.0,winter
18,2015-01-04 18:00:00,522,3.0,1.5,0.930,6.5,Broken clouds,0.0,1.0,winter
19,2015-01-04 19:00:00,379,3.0,1.0,0.930,7.0,Broken clouds,0.0,1.0,winter

In [71]:
#Writing the final dataframe to an excel file that we will use in our Tableau visualisations. The file will be the 'london_bikes_final.xlsx' file and the sheet name is 'Data'
lbr.to_excel('london_bikes_final.xlsx', sheet_name='Data')